<body>
    <form>
      <label for="stageURL">N-1 Build (Prod/Stage):</label><br />
      <input
        type="text"
        id="stageURL"
        name="stageURL"
        value="<%= stageURL %>"
      /><br />
      <label for="prodURL">N Build (Prod/Stage):</label><br />
      <input type="text" id="prodURL" name="prodURL" value="<%= prodURL %>" />
    </form>
    <button type="submit" form="form1" value="Submit">Submit</button>
  </body>
  